:root {
  --bg-color: white;
  --main-color: #2251DD;
  --active-outline: #83e28e;
  --active-bg: #c1f0c8;
  --active-text:#12501a;
  --quantity-text:#47d359;
  --border-radius: 8px;
}

@font-face {
  font-family: 'Tatsuki';
  src: url('./assets/fonts/handscript_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tatsuki';
  src: url('./assets/fonts/handscript_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Tatsuki-Outline';
  src: url('./assets/fonts/Handscript_Outline-.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


.App {
  text-align: center;
}

.App-header {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  gap: 2rem;
}

.Title {
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.BoxModal {
  padding: 2rem;
  border-radius: var(--border-radius);
  width: 35%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.1)
}

.LoginContainer {
  padding-top: 1rem;
  overflow: hidden;
}

.LoginToggle {
  display: flex;
  background-color: #f4f6f8;
  border-radius: var(--border-radius);
  padding: 4px;
  margin: 0 auto 1rem auto;
}

.ToggleButton {
  flex: 1;
  padding: 3px;
  background: transparent;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 2.2rem;
  font-family: "Tatsuki";
  font-weight: 400;
  transition: all 0.3s ease;
}

.ToggleButton.active {
  color: #000;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.Form {
  width: 100%;
  box-sizing: border-box;
}

.LoginFormContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}

.LoginFormContent label {
  font-size: 2.5rem;
  font-family: "Tatsuki";
}

.LoginFormContent input {
  padding: 10px;
  border-radius: var(--border-radius);
  border: 1px solid #d1d5db;
  font-size: 2rem;
  font-family: "Tatsuki";
  outline: none;
  transition: border-color 0.2s;
}

.LoginFormContent input:focus {
  border-color: var(--main-color);
}

.SignInButton {
  background-color: var(--main-color);
  color: white;
  padding: 10px;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  font-family: "Tatsuki";
  font-weight: 700;
  font-size: 2rem;
  transition: background-color 0.2s;
  margin-top: 1rem;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.LeftNavBar {
  display: flex;
  align-items: center;
}

.LeftNavBarText {
  display: flex;  
  flex-direction: column;
  text-align: left;
}

.navLogo {
  background-color: var(--main-color);
  color: white;
  padding: 8px;
  border-radius: var(--border-radius);
  margin: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: none;
}

.navLogo:hover {
  box-shadow: 0 0 10px #6b8cff,
              0 0 20px #7da0ff,
              0 0 30px #9bb8ff;
  filter: brightness(1.2);
}


.RightNavBar {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 3rem;
}

.TransactionsButton{
  align-items: self-end;
}

.coButton{
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
    0 1px 1px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px 12px 4px 12px;
  cursor: pointer;
}

.coButton:hover{
  background-color: #f2f2f2; /* slightly darker than white */
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15),
    0 1px 2px rgba(0, 0, 0, 0.1);
}

.transactionLabel{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overview{
  width: 90%; 
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.5rem;
}

.card{
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
    0 1px 1px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 1.3rem;
  flex: 1;
}

.subtitle {
  font-family: "Tatsuki";
  font-size: 2rem;
  color: grey;
}

.cardContent{
  font-family: 'Tatsuki';
  font-weight: 700;
  font-size: 4.3rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.stocks{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  flex-direction: column;
  align-items: center;
}

.product{
  width: 90%;
}

.productLog{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.5rem;
}

.controlBar{
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
    0 1px 1px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 1.3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.searchContainer{
  display: flex;
  min-width: 40%;
}

.searchInput {
  display: flex;
  flex: 1;
  padding: 10px 14px;
  border-radius: var(--border-radius);
  border: 1px solid #d1d5db;
  font-size: 1.7rem;
  font-family: "Tatsuki";
  outline: none;
  transition: border-color 0.2s;

}

.searchInput:focus {
  border-color: var(--main-color);
}

.dropDown{
  background-color: white;
  border-radius: var(--border-radius);
  border: 1px solid #d1d5db;
  padding: 10px 14px;
  cursor: pointer;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  font-size: 1.7rem;
  font-family: "Tatsuki";
  position: relative;
}

.dropDown:hover{
  background-color: #f2f2f2; 
  border-color: rgba(0, 0, 0, 0.2);
}

.dropDownItemStatus {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  text-align: center;
  font-family: "Tatsuki";
  font-size: 1.7rem;
  border-radius: var(--border-radius);
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
}

.dropDownItemStatus .dropdown-item {
  font-family: "Tatsuki";
  font-size: 1.7rem;
  border-radius: var(--border-radius);
  color: #333 ;
  padding: 0.7rem 0 ;
  transition: background-color 0.2s ease, color 0.2s ease;
  text-align: center;
  padding: 10px 6px;
}

.dropDownItemCategory {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  text-align: center;
  font-family: "Tatsuki";
  font-size: 1.7rem;
  border-radius: var(--border-radius);
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
}

.dropDownItemCategory .dropdown-item {
  font-family: "Tatsuki";
  font-size: 1.7rem;
  border-radius: var(--border-radius);
  color: #333;
  padding: 0.7rem 0;
  transition: background-color 0.2s ease, color 0.2s ease;
  text-align: center;
  padding: 10px 30px;
}



.dropdown-item:hover{
  background-color: #f2f2f2 ;
  color: black ;
}

.dropdown-menu:not(.show) {
  display: none;
}

.addButton{
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  border: 1px solid #d1d5db;
  padding: 10px 14px;
  cursor: pointer;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  font-size: 1.7rem;
  font-family: "Tatsuki";
  color: white;
}

.cardItem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cardName{
  display: flex;
  justify-content: flex-start;
  font-family: "Tatsuki";
  font-weight: 800;
  font-size: 2rem;
}

.statusContainer{
  display: flex;
}

.cardStatus{
  display: flex;
  justify-content: flex-end;
  font-family: "Tatsuki";
  font-size: 1.7rem;
  border: 2px solid var(--active-outline);
  background-color: var(--active-bg);
  padding: 0.2rem;
  border-radius: var(--border-radius);
  color: var(--active-text);
  align-items: center;
}

.cardDescription{
  margin-top: 1rem;
  font-family: "Tatsuki";
  font-size: 1.8rem;
}

.cardQuantity{
  display: flex;
  justify-content: flex-end;
  font-family: "Tatsuki";
  margin-top: 1rem;
  font-weight: 800;
  font-size: 1.7rem;
  color: var(--quantity-text);
}